<%= render 'header', post: @question %>
<p id="notice"><%= notice %></p>

<div>
<h1><%= @question.title %></h1>
<hr>
<h5><%= @question.user.username %></h5><br>
<p><%= @question.body %></p>
<hr>
 <% @question.answers.each do |answer| %>
   <%= @question.answers.title %>
   <%= @question.answers.body %>
 <% end %>
</div>

<%= link_to 'Back', root_path %>