<div>
<%= form_for [answerable, Answer.new ] do |form| %>
  <% if current_user
    user = User.find_by_id(session[:user_id])
  
  username = user.username
  end 
  %>
    <%= form.hidden_field :username, value: username %>
    <%= form.hidden_field :question_id, value: question_id %>
    <%= form.text_field :text, class:"form-contorl", placeholder: "Provide an answer"%>
    <%= form.submit 'Answer', class:"btn btn-primary"%>
<% end %>

</div>